<div class ="container container-question"> 
    <%= @question  %>
    <div class ="who"> 
    - You
    </div> 
</div>
<div class ="container container-answer" role="alert"> 
    <div class="answer">
    <%= @answer%>
    </div>
    <div class ="who"> 
        - Your coach 
    </div>
</div>   
